<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/home.css">
    <link rel="stylesheet" href="/recursive.css">
</head>
<body>
    <header class="header">
        <h1 class="logo"><a href="/">NodeeMY</a></h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <h1 class="home-txt">{{#if message}}{{message}}! Welcome to NodeeMY.{{else}}Hey there! Welcome to NodeeMY.{{/if}}</h1>
        <p class="home-pgy">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas illo expedita eaque natus quia error recusandae. Odio maxime voluptas dolore magni odit saepe excepturi sunt commodi necessitatibus, accusamus, optio provident. ipsum dolor sit amet consectetur adipisicing elit. Voluptas illo expedita eaque natus quia error recusandae.</p>
    </div>
</body>
</html>