<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/recursive.css">
</head>
<body>
    <header class="header">
        <h1 class="logo"><a href="/">NodeeMY</a></h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="{{#if user}}/logout{{else}}/login{{/if}}">{{#if user}}Logout{{else}}Login{{/if}}</a></li>
            </ul>
        </nav>
    </header>

    <div class="grid-container">
        <div class="profile">
            <img class="profile-img" src="/img/profile-img.jpg" alt="Profile Image">
            <div>
                <h2 class="profile-name">{{#if user}}{{user.name}}{{/if}}</h2>
                <p class="profile-bio">
                    Hi everyone. Welcome to my profile! 😄✨
                </p>
            </div>
        </div>

        <div class="profile-posts">
            <div>
                <h2>You haven't posted anything yet 😞</h2>
                <button class="btn">Post something! 🥳</button>
            </div>
        </div>
    </div>
</body>
</html>