<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/recursive.css">
    <link rel="stylesheet" href="/register.css">
</head>
<body>
    <header class="header">
        <h1 class="logo"><a href="/">NodeeMY</a></h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <h1 class="register-txt">Register an account</h1>

        <form action="/auth/register" method="POST" class="form">
            <div>
                <label for="user-name">Your Name</label>
                <input type="text" id="user-name" placeholder="Name" name="name">
            </div>
            <div>
                <label for="user-email">Your E-mail</label>
                <input type="email" id="user-email" placeholder="E-mail" name="email">
            </div>
            <div>
                <label for="user-passwd">Your Password</label>
                <input type="password" id="user-passwd" placeholder="Password" name="password">
            </div>
            <div>
                <label for="user-Rpasswd">Your Retry Password</label>
                <input type="password" id="user-Rpasswd" placeholder="Retry password" name="passwordRetry">
            </div>

            <button class="btn" type="submit">Create Account</button>
        </form>

        {{#if message }}
            <h4>{{message}}</h4>
        {{/if}}
    </div>
</body>
</html>