.home-txt {
    position: relative;
    margin-bottom: 24px;
    z-index: 1;
}

.home-txt::before {
    position: absolute;
    content: '';
    display: block;
    background-color: orangered;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    top: 0;
    z-index: -1;
    left: -8px
}

.home-pgy {
    font-size: 1.4rem;
}
