.container {
    margin: 0 48px;
    padding: 48px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.btn {
    cursor: pointer;
    color: #fff;
    border: none;
    border-radius: 4px;
    background-color: orangered;
    font-size: 1.25rem;
    padding: 16px;
    transition: .3s
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.form label {
    font-size: 1.4rem;
}

.form input {
    margin: 8px 0 24px 0;
    font-size: 1.2rem;
    padding: 8px;
    max-width: 600px;
    width: 100%;
}

.btn:hover {
    background-color: rgb(204, 54, 0);
}

.alert {
    margin-top: 24px;
    padding: 20px;
}

.error {
    color: rgb(117, 0, 0);
    background-color: rgb(255, 104, 104);
}

.success {
    color: rgb(0, 102, 5);
    background-color: rgb(104, 255, 112);
}