.register-txt {
    position: relative;
    margin-bottom: 24px;
    z-index: 1;
}

.register-txt::before {
    position: absolute;
    content: '';
    display: block;
    background-color: orangered;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    top: 0;
    z-index: -1;
    left: -8px
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.form label {
    font-size: 1.4rem;
}

.form input {
    margin: 8px 0 24px 0;
    font-size: 1.2rem;
    padding: 8px;
    max-width: 600px;
    width: 100%;
}

.btn {
    justify-self: start;
}